<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bitquery Logo -->
    <link rel="icon" href="https://test.bitquery.io/wp-content/uploads/2020/08/favicon.png" />
    <link rel="apple-touch-icon" href="https://test.bitquery.io/wp-content/uploads/2020/08/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS with Bitquery API</title>
    <script src="../index.js"></script> 
</head>
<body>
	<style>
		header{
			background-color: mediumslateblue; 
			color: white;
			font-family: 'Lucida Sans';
			text-align: center; 
			margin: 5px;
		}

		body {
			background: linear-gradient(to bottom right, #DBFBF3, #F5FEFC)
		}
		h2{
			text-align: center;
			margin: 10px;
			padding: 10px;
			font-family: 'Lucida Sans' ;
		}
	</style>
	<header>
		<h1>Using Bitquery GraphQL API with NodeJS</h1>
	</header>
	<h2>The count of all the blocks in the Bitcoin DEX is <%= result %></h2>
</body>
</html>